@charset "UTF-8";
@font-face {
    font-family: 'Numeros';
    src: url(DS-DIGII.TTF) format(truetype);
}
@font-face {
    font-family: 'comic';
    src: url(Hey\ Comic.ttf) format(truetype);
}

*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0:#6DA366;
    --cor1:#8DC185;
    --cor2:#E1483D;
    --cor3:#EE6258;
    --cor4:#F6F4F5;
}
body{
    background-color: var(--cor1);
}
main{
    display: inline-block;
    width: 89%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


    background-color: var(--cor4);
    color: #F21905;
    text-align: center;
}
section#pomo{
    display: inline-block; 
    width: 90%;
    height: 55%;
    border-radius: 40px;
    color: var(--cor4);
    background-color: var(--cor0);
    margin: 20px;
}
#pomo > h1{
    margin-top: 20px;
    font-family: 'comic';
    font-size: 40px;
}
#timer{
    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}
#timer > p {
    font-size: 100px;
    color: rgba(255, 255, 255, 0.755);
    font-family: 'Numeros';
}
#reiniciar, #stop{
   width: 22%;
   height: 35px;
   margin-top:10px;
}
#stop{
    margin: 0px 10px 0px 0px;
    
    background-color: var(--cor3);
    color: var(--cor4);
    border-radius: 4px;
    border: 1px solid var(--cor2);
}
#stop:hover{
    background-color: var(--cor4);
    color: var(--cor2);
    border: 1px solid var(--cor4);
    width: 25%;
    height: 38px;
    transition-timing-function: ease;
    transition: .3s;
}
#reiniciar{
    margin: 0px 0px 0px 15px;
    background-color: var(--cor4);
    color: black;
    border-radius: 4px;
    border: 1px solid var(--cor4);
}
#reiniciar:hover{
    background-color: var(--cor4);
    color: var(--cor3);
    border: 1px solid var(--cor4);
    width: 25%;
    height: 38px;
    transition: .3s;
}
section#taref{
    display: none;
    background-color: ;
    text-align: center;
}