@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0:#6DA366;
    --cor1:#8DC185;
    --cor2:#E1483D;
    --cor3:#EE6258;
    --cor4:#F6F4F5;
}
body{
    background-color: var(--cor1);
}
main{
    display: inline-block;
    width: 89%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);


    background-color: var(--cor4);
    color: #F21905;
    text-align: center;
}
section#pomo{
    display: inline-block; 
    width: 90%;
    height: 55%;
    border-radius: 40px;
    color: var(--cor4);
    background-color: var(--cor0);
    margin: 20px;
}
#timer > p {
    font-size: 40px;
}
section#taref{
    display: none;
    background-color: ;
    text-align: center;
}